/* Selectores: */

/* Elementos */

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: #fefefe;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.juego {
  padding: 50px;
}

.titulo {
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

.consola {
  display: grid;
  font-size: 13px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.juego img {
  display: grid;
  padding-top: 10px;
  margin: 0 auto;
  width: 150px;
  height: 200px;
}

p {
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
  padding: 0 50px;
}

em {
  font-size: 18px;
}

.compra {
  display: grid;
  justify-content: center;
  border-style: ridge;
  position: sticky;
  bottom: 0;
  float: right;
  padding: 0 20px;
  border-style: ridge;
  border-color: greenyellow;
  border-width: 2px;
  border-radius: 5px;
  background-color: black;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

ul h3 {
  margin-top: 1rem;
}

li {
  list-style-type: none;
}

li em {
  font-style: normal;
  font-size: 1rem;
}

.checkout-btn {
  margin: 1rem 0;
  appearance: none;
  background: rgb(72, 196, 218);
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: 800;
  padding: 1em;
  position: relative;
  align-items: center;
}

.checkout-btn:disabled {
  background: rgba(72, 196, 218, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.checkout-btn:enabled:hover {
  filter: brightness(1.1);
}

.checkout-btn:enabled:hover>span {
  transform: scale(1.05);
}

.checkout-btn span {
  display: block;
  position: relative;
  z-index: 1;
}
